//------------------Layout------------------

$Tablet: 675px;
$Desktop: 1100px;

//------------------Colors------------------

// Primary

$Marine-Blue: hsl(213, 96%, 18%);
$Purplish-Blue: hsl(243, 100%, 62%);
$Pastel-Blue: hsl(228, 100%, 84%);
$Light-Blue: hsl(206, 94%, 87%);
$Strawberry-Red: hsl(354, 84%, 57%);

// Neutral

$Cool-Gray: hsl(231, 11%, 63%);
$Light-Gray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);

//------------------Font------------------

$Font-Size: 16px;
$Font-Ubuntu: 'Ubuntu', sans-serif;
$Font-Thin: 400;
$Font-Medium: 500;
$Font-Bold: 700;